@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  /* moved from unsupported `@theme inline` block so editors won't warn */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Barlow Condensed', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Bellefair', sans-serif;
}

.bg-tech-bg {
  background-image: url('/images/bg/tech-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
}

.bg-lg-tech-bg {
  background-image: url('/images/bg/lg-tech-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
}

@media (min-width: 1024px) {
  .bg-tech-bg {
    display: none;
  }
}

.tech-background {
  background-image: url('/images/bg/tech-bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media (min-width: 1024px) {
  .tech-background {
    background-image: url('/images/bg/lg-tech-bg.png');
  }
}
